*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}
.clear{
    clear:both;
}
.opacity:hover{
    opacity: 0.6;
}
.border-radius{
    border-radius: 20%;
}
.animation1:hover{
    transform:scale(1.1);
}
.animation1{
    transition: transform 0.5s;
    
}
.text-white{
    color: white !important;
}
.margin-top{
    margin-top:75px;
}
.text-NorthWell{
    font-family: NorthWell;
  }
.border{
    border: 1px solid red ;
    border-radius: 15px;
    margin-top: 90px;
    margin-bottom: 20px;
    width: 800px;
    background-color: #009688;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    scroll-margin-top:60px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#main{
    min-height: 500px;
}
/*Croll to top*/
a.go {
    font-family: "VNF-Comic Sans";
    position: fixed;
    bottom: 15px;
    right: 20px;
    display: block;
    width: 120px;
    padding: 20px 20px;
    background-color: rgb(40 214 183 / 50%);
    color: black;
    text-align: center;
    border-radius: 50%;
    z-index: 4;
    text-decoration: none;
}
/*Croll to top*/
html{
    font-family: Arial, Helvetica, sans-serif;
}
#nav{
    display: inline-block;
    padding: auto;
}
#header{
    height: 46px;
    background-color: #9BcFb8;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
#content .section-introduce{
    position: relative;
    margin-top: 46px;
    padding-top:50%;
    background: url(./img/header.jpg) top center / cover no-repeat ;
    width: 100%;
}
.sub-heading{
    font-size: 145px;
    font-family: Northwell;
    width: 80%;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 75%);
    color:antiquewhite;
    font-weight: 500;
    line-height: 1.1;
    color: #fff;
    margin: auto; 
    position: absolute;
    top: 120px;
    width: 100%;
    text-align: center;

}
#nav li{
    position: relative;
    display: inline-block;
}
#nav>li>a{
    color: #1e523b;
    text-transform: uppercase;
    font-family: "VNF-Comic Sans";
}
#nav .subnav{
    display:none;
    position: absolute;
    background-color: #7fb174;
    color: black;
    top:100%;
    left:0;
    min-width: 160px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.4) ;
}
.clear{
    clear:both;
}
#nav .subnav li{
    display: block;
}
#nav .subnav a{
    color: #000;
    padding: 0 10px;
}
#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}
#nav li a:hover{
    background-color: #689c97;
    color: #072a24;
}
#nav li:hover .subnav{
    display: block;
}
#nav .dropdown-menu{
    font-size: 12px;
    margin-left: 8px;
}
.introduce-img{
    margin: auto;
    padding-bottom: 48px;
}
.introduce-img .picture-item{
    float:left;
    width: calc(100%/5);
    padding: 0 8px;
    margin-left: 38px;
    margin-bottom: 20px;
    border-radius: 2%;
    width: 30%;
    
     /* Animation */
    cursor: pointer;
}
.introduce-img .picture-item img{
    width: 100%;
    display: block;
    transition: transform 1s;
}

.desc{
    margin: 15px 0;
    font-size: 15px;
    text-align: justify;
    vertical-align: middle;
    line-height: 1.3;
    padding: 24px 0;
    font-family: VNF-Comic Sans,Helvetica,Arial,sans-serif;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}
.section-heading{
    margin-top: 30px;
    font-size: 18px;
    color: #ffb100;
    text-align: center;
}
.location-list{
    margin: 32px -8px 0;
    padding-bottom: 48px;
    margin: left;
}
.location-img{
    width: 70%;
    display: block;
    height: 400px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.location-item{
    padding: 0 8px;
    margin-left: 10%;
    width: 80%;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all .8s;
}
.location-description{
    line-height: 1.4;
    margin-top: 15px;
    font-family: "VNF-Comic Sans" ;
    margin-top: 50%;
}
.location-body{
    color: #000;
    background: pink;
    height: 400px;
    width: 50%;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
.location-img:hover{
    opacity: 0.6;
}
.location-item:hover{
   transform:scale(.8);
}
.picture-animation{
    float: left;
    padding: 0 8px;
    margin-left: 29px;
    margin-bottom: 20px;
    border-radius: 2%;
    width: 30%;
    cursor: pointer;
}
/*Flip*/
.flip-card {
    background-color: transparent;
    width: 40rem;
    height: 21rem;
    perspective: 1000px;
    margin:auto;
    margin: 0 0 20px;
    padding: 0 10px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform .8s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: url(./img/bg-red-pattern.png) 300px 300px;
    text-align: center;
  }
.font-size-title{
    font-size:50px;
    margin-top: 100px;
}
.flip-card-back {
    transform: rotateY(180deg);
 }
  /*End*/
.culture{
    display: flex;
    margin: 12px;
}
.culture-picture{
   margin: 0 0 20px;
   padding: 0 10px;
   overflow: hidden;
   display: block;
   
}
.culture-picture img{
 width: 100%;
 height: 100%;
 transition: all 0.5s ease;
}
.culture-picture img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
/* Footer */
footer{
    background-color: #009688;
}
#footer-container{
    justify-content: center;
    align-items: center;
}
.contact{
    width:70%;
}
#user-email{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 12px;
    margin-top: 12px;
    border-radius: 24px;

}
.info-avatar {
    position: relative;
    width: 380px;
    height: 230px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
    margin: 15px;
}

.info-avatar::before {
    content: '';
    position: absolute;
    inset: -25px 75px;
    background: linear-gradient(315deg, rgb(68 255 0), rgb(11 239 245));
    transition: 0.5s;
    animation: animate 4s linear infinite;
}

.info-avatar:hover::before {
    inset: -20px 0px;
}

@keyframes animate {
    0%
    {
        transform: rotate(0deg);
    }
    0%
    {
        transform: rotate(360deg);
    }
}

.info-avatar::after {
    content: '';
    position: absolute;
    inset: 6px;
    background: #162052;
    border-radius: 50%;
    z-index: 1;
}

.info-aboutus {
    position: absolute;
    inset: 30px;
    border: 6px solid rgb(0 150 136);
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info-aboutus img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
}

.info-avatar:hover .info-aboutus img {
    opacity: 0;
}

.info-aboutus h2 {
    position: relative;
    font-size: 0.9em;
    text-align: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.info-aboutus h2 span {
    font-weight: 300;
    font-size: 0.75em;
}

.info-aboutus a {
    position: relative;
    margin-top: 10px;
    padding: 10px 20px;
    background: #fff;
    color: #070a1c;
    border-radius: 25px;
    font-weight: 500;
    font-size: 0.7em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-decoration: none;
    transition: 0.5s;
}

.info-aboutus a:hover {
    letter-spacing: 0.2em;
}
.enter-email{
    height: 39px;
    width: 100%;
    cursor: pointer;
    background-color: blue;
    border: none;
    font-size: 15px;
    border-radius: 24px;
}
.enter-email:hover{
    opacity: 0.6;
}
.contact{
    margin-top: 20px;
    margin-left: 32px;
    margin-right: 32px;
    width: 100%;
    font-family:"VNF-Comic Sans" ;
}
.social{
    margin-left: 90px;
    width: 100%;
    display: block;
}
.icon{
    margin-right: 4px;
    cursor: pointer;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}
.modal.open{
    display: flex;
}
.modal-container{
    background-color: #fff;
    width: 900px;
    min-height: 400px;
    position: relative;
}
header.modal-header{
    background-color: #009688;
    display: flex;
    height: 130px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fff;
}
.modal-heading-icon{
    margin-right: 16px;
}
.modal-close{
    position: absolute;
    right:0;
    top:0;
    padding: 24px;
    font-size: 24px;
    cursor: pointer;
    opacity: 0.8;
    color: #fff
}
.modal-close:hover{
    background-color: red;
    opacity: 0.6;
    cursor: pointer;
}

.announcement{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 46px;
}
.announcement-icon{
    margin-right: 12px;
    font-weight: 500;
    font-size:5rem;
    line-height: 100%;
    background-image: linear-gradient(to right bottom, #6a5af9, #f62682);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.description{
    font-weight: 500;
    font-size: 3rem;
    line-height: 100%;
    background-image: linear-gradient(to right bottom, #6a5af9, #f62682);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
@font-face {font-family: "Northwell"; src: url("//db.onlinewebfonts.com/t/a6db4fb3cf727e10e461d11f5b3349f0.eot"); src: url("//db.onlinewebfonts.com/t/a6db4fb3cf727e10e461d11f5b3349f0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/a6db4fb3cf727e10e461d11f5b3349f0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/a6db4fb3cf727e10e461d11f5b3349f0.woff") format("woff"), url("//db.onlinewebfonts.com/t/a6db4fb3cf727e10e461d11f5b3349f0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/a6db4fb3cf727e10e461d11f5b3349f0.svg#Northwell") format("svg"); }
@font-face {font-family: "VNF-Comic Sans"; src: url("//db.onlinewebfonts.com/t/a67b22306c2e1d6551f2e00b425bc141.eot"); src: url("//db.onlinewebfonts.com/t/a67b22306c2e1d6551f2e00b425bc141.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/a67b22306c2e1d6551f2e00b425bc141.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/a67b22306c2e1d6551f2e00b425bc141.woff") format("woff"), url("//db.onlinewebfonts.com/t/a67b22306c2e1d6551f2e00b425bc141.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/a67b22306c2e1d6551f2e00b425bc141.svg#VNF-Comic Sans") format("svg"); }